
@font-face {
    font-family: 'monster';
    src: url('/Assets/FONTS/kidie_monster/Kidie\ Monster-puo.ttf') format('opentype');
    font-weight: normal;
}

:root {
    --verde-principal: #2EFC2B;
    --verde-secundario: #26CC23;
    --verde-alternativo: #30CC4A; 
    --cor-fundo: #060606;

    --fonte-principal: Arial, Verdana, sans-serif;
    --fonte-texto: 'monster', sans-serif;

    --border-style: 2px solid #fff;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.btn {
    cursor: pointer;
    padding: 12px 30px;
    border: 2px solid #fff;
    background-color: transparent;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--verde-alternativo);
    transition: ease-in-out 1s;
}

body {
    font-size: 16px;
    font-family: var(--fonte-texto);
    background-color: var(--cor-fundo);
}

header {
    display: flex;
    align-items: center;
    margin: auto;
    text-transform: uppercase;
    font-family: var(--fonte-texto);
    font-size: 20px;
    border-bottom: 1px solid #fff;
    /* margin-top: 15px; */
}

header nav li a {
    color: var(--verde-principal);
}

.conteiner {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
}

.conteiner #menu-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.conteiner #menu-main #list-main {
    display: flex;
    gap: 13px;
}

.conteiner #menu-main .button .btn a {
    color: #fff;
}



#about {
    margin-top: 30px;
}


.section-about {
    display: flex;
}

.section-about .section-about--left {
    flex: 1;
}

.section-about .section-about--left h2 {
    font-size: 50px;
    color: var(--verde-principal);
    margin-bottom: 14px;
}

.section-about .section-about--left p {
    color: var(--verde-secundario);
    font-size: 1.4rem;
    line-height: 25px;
}

.section-about .section-about--left .btn a {
    color: var(--verde-alternativo);
}

.section-about .section-about--right {
    justify-content: flex-end;   
}



#different {
    margin-top: 70px;
}

#different h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--verde-principal);
    margin-bottom: 16px;
}

.card-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.card-section .cards-section {
    width: 360px;
    /* border: 1px solid #fff; */
    border: var(--border-style);
    text-align: left;
    height: auto;
    margin-right: 9px;
    margin-top: 10px;
    padding: 12px;
}

.card-section .cards-section h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card-section .cards-section p {
    color: var(--verde-alternativo);
    font-size: 22px;
    line-height: 26px;
}


#photo-galery {
    margin-top: 160px;
}

#photo-galery .desc-galery {
    text-align: center;
}

#photo-galery .desc-galery h2 {
    color: var(--verde-principal);
    font-size: 2.5rem;
    margin-bottom: 18px;
}

#photo-galery .desc-galery p {
    font-size: 1.7rem;
    color: var(--verde-secundario);
    margin-bottom: 24px;
}

#photo-galery .desc-galery .btn-photo .btn {
    margin-bottom: 24px;
}

.section-foto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.section-foto .section-fotos {
    padding: 5rem;
    text-align: center;
    border: var(--border-style);
}

.section-foto .section-fotos h3 {
    color: var(--verde-principal);
    font-size: 1.4rem;
    margin-top: 15px;
}

.section-foto .section-fotos p {
    color: var(--verde-secundario);
    font-size: 1.6rem;
    margin-top: 16px;
    margin-bottom: 15px;
}

.section-foto .section-fotos img {
    height: 10rem;
}

.section-foto .section-fotos .flex-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-foto .section-fotos .flex-info div {
    color: var(--verde-alternativo);
    font-family: Arial;
}

.section-foto .section-fotos .btn-foto {
    color: var(--verde-principal);
    padding: 9px 15px;
}




#products {
    margin-top: 150px;
}

#products h2, p {
    text-align: center;
}

#products h2 {
    color: var(--verde-principal);
    font-size: 40px;
    margin-bottom: 17px;
}

#products .desc {
    color: var(--verde-alternativo);
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    /* gap: 28px; */
}

.product .product-section {
    text-align: center;
    border: var(--border-style);
    width: 370px;
    position: relative;
    padding: 18px;
    margin-bottom: 19px;
}

.product .product-section h3 {
    color: var(--verde-secundario);
    margin-bottom: 16px;
    margin-top: 14px;
    font-size: 26px;
}

.product .product-section p {
    color: var(--verde-alternativo);
    font-size: 24px;
    line-height: 27px;
}

.product .product-section .product-info {
    color: var(--verde-secundario);
    margin-top: 30px;
    font-size: 2.2rem;
}



#cousterms {
    margin-top: 150px;
}

#cousterms .review {
    color: var(--verde-principal);
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 26px;
}

.opinioes {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}

.opinioes .opiniao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border-style);
    width: 370px;
    /* height: auto; */
    padding: 19px;
}

.opinioes .opiniao h1 {
    color: var(--verde-principal);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-top: 18px;
}

.opinioes .opiniao h3 {
    color: #fff;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    line-height: 27px;
}

.opinioes .opiniao .aspas {
    margin-bottom: 14px;
}


#news {
    margin-top: 90px;
    height: 600px;
}

.flex-form {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.flex-form .flex-form-right {
    width: 450px;
}

.flex-form .flex-form-right h1 {
    font-size: 2.7rem;
    margin-bottom: 24px;
    color: var(--verde-principal);
}

.flex-form .flex-form-right p {
    font-size: 1.8rem;
    color: var(--verde-secundario);
}

.flex-form .flex-form-left {
    width: 55%;
}

.flex-form .flex-form-left form{
    margin-top: 30px;
    border: var(--border-style);
    padding: 22px;
    height: auto;
}

.flex-form .flex-form-left form label {
    color: var(--verde-principal);
    font-size: 1.5rem;
}

.flex-form .flex-form-left form .form-control {
    display: block;
    width: 100%;
    height: 2rem;
    border: 1px solid #fff;
    background-color: #fff;
    outline: none;
}

.flex-form .flex-form-left form .input-box {
    margin-right: 16px;
}

.flex-form .flex-form-left form .btn-form {
    text-align: center;
}

.flex-form .flex-form-left form .btn-form .btn {
    width: 200px;
}